# ==========================================
# 1. Ignore Raw Genomic Data (Too large for GitHub!)
# ==========================================
# This blocks any fastq, bam, sam, vcf, csv, tsv, or zipped count files
*.fastq
*.fq
*.bam
*.sam
*.vcf
*.csv
*.tsv
*.gz
*.tar
*.zip
data/

# ==========================================
# 2. BUT do NOT ignore files in your results folder
# ==========================================
# We want to share our small, final differential expression tables!
!results/*.csv
!results/*.tsv

# ==========================================
# 3. Ignore Python & Jupyter junk
# ==========================================
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
*.txt
