# File types to ignore (Data)
*.fastq
*.fq
*.bam
*.sam
*.vcf
*.csv
*.tsv
*.gz
*.tar
*.zip
data/

# Results file types
!results/*.csv
!results/*.tsv

# Python & Jupyter junk
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
*.txt
